@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");


.top-header {
    background-color: #f8b864;
}

.top-banner > .top-header > div > div > span.top-banner-symbol {
    margin: 0 0.5rem 0 0.5rem;
    color: #F1FCFF;
    font-weight: 300;
}

.header {
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
}

.header.header-scrolled {
    background: #fff;
    padding: 15px 0;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}


.navbar{
    padding: 0 !important;
}

img.img-custom-logo {
    height: 70px !important;
}

.navbar > .nav-container {
    padding: 0 2rem;
}


.sss-nav-bar {
    margin-left: auto !important;
}

.sss-nav-bar> li {
    margin: 0px 5px 0px 5px;
    font-family: 'Nunito', sans-serif;
    
}

.sss-nav-bar> li > a:hover {
    font-weight: 900;
    color: #45A32C;
    transition: all 0.5s ease-out;
}

a {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    color: #091380 !important;
}

.hero {
    padding: 60px 0 60px 0;
}

@media only screen and (max-width:950px) {
        .hero {
            padding: 650px 0;
        }
}

@media only screen and (max-width: 600px) {
    .hero {
        padding: 850px 0;
    }
}

.hero {
    width: 100%;
    height: 100vh;
    background: url('../saisujalasravanthi/images/hero-bg.png');
    background-size: cover;
}

.hero h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 48px;
    font-weight: 800;
    color: #091380;
    text-align: center;
}

.hero h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    color: #5B5B5D;
}

.hero .contact-symbol {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0px 0px 7rem 5rem rgb(0 0 0 / 20%);
    border-radius: 1rem;
}

.hero i.bi{
    font-size: 3rem;
}

.hero i.bi-youtube {
    color: #FF0000;
    
}

.hero i.bi-facebook {
    color: #4267B2;
}

.hero i.bi-twitter {
    color: #1DA1F2;
}

.hero i.bi-instagram {
    color: #405DE6;
}

.hero .description {
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 1.2rem;
}


.hero .left-intro, .hero .right-intro {
    margin: 2rem 0;
}
