.top-header {
    background-color: #f8b864;
}

.top-banner > .top-header > div > div > span.top-banner-symbol {
    margin: 0 0.5rem 0 0.5rem;
    color: #F1FCFF;
    font-weight: 300;
}

.navbar{
    padding: 0 !important;
    background-color: #f2f5fc !important;
}

.navbar > .nav-container {
    padding: 0 2rem;
}


.sss-nav-bar {
    margin-left: auto !important;
}

.sss-nav-bar> li {
    margin: 0px 5px 0px 5px;
    font-family: 'Nunito', sans-serif;
}

.sss-nav-bar> li > a:hover {
    font-weight: 900;
    color: #45A32C;
    transition: all 0.5s ease-out;
}

a {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
    font-weight: 200;
}


.content-wrapper {
    height: 500px;
}

.caption-wrapper{
    height: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.header-wrapper {
    height: 500px;
    width: 100%;
    position: absolute;
    z-index: 1;
    
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-wrapper > .heading {
    text-align: center;
    color: white;
    font-size: 2.5rem;
}


.header-wrapper >  .sub-heading {
    font-weight: 200;
    font-size: 1.5rem;
}

.image-slider , .carousel-inner{
    max-height: 100%;
}

img {
    height: 500px;
}

img.img-custom-logo {
    height: 70px !important;
}